<div class="corner_img_div"><img src="{{ url_for('static',filename='images/corner.png') }}" /></div>
<div class="topbar">
  {% if current_user.is_authenticated %}
    <div class="pull-right topbar-right-controls">
      <form method="post" action="{{ url_for('logout') }}">
        <input type="submit" class="form-submit topbar-form" value="Logout"/>
      </form>
    </div>
    <div class="pull-right topbar-right-controls">
      <form method="get" action="{{ url_for('create_post') }}">
        <input type="submit" class="form-submit topbar-form" value="New Post"/>
      </form>
    </div>
    <div class="pull-right topbar-right-controls">
       <form method="get" action="{{ url_for('index') }}">
        Welcome {{ current_user.id }}!
        <input type="submit" class="form-submit topbar-form" value="Home"/>
      </form>
    </div>
  {% else %}
    <div class="pull-right topbar-right-controls">
      <form method="get" action="{{ url_for('index') }}">
        <input type="submit" class="form-submit topbar-form" value="Home"/>
      </form>
    </div>
    <div class="pull-right topbar-right-controls">
      <form method="post" action="{{ url_for('login') }}">
        <input type="text" class="topbar-form" name="username" placeholder="username" />
        <input class="topbar-form" type="password" name="password" placeholder="password" />
        <input type="submit" class="form-submit topbar-form" value="Login"/>
      </form>
    </div>
  {% endif %}
</div>
